.country {
  backdrop-filter: blur(16px);
  border: solid yellow;
  width:450px;
  margin: 40px;
  padding-top: 10px;
  text-decoration: none;
  color: white
}


.country:hover {
  background: gray;
}
