.country {
  backdrop-filter: var(--blur);
  border: solid var(--primary-color);
  width: 450px;
  margin: 40px;
  padding-top: 10px;
  text-decoration: none;
  color: white;
  border-radius: var(--border-radius);
}

.country:hover {
  backdrop-filter: none;
}

.country:focus {
  outline: none;
  backdrop-filter: none;
}
