.country {
  backdrop-filter: var(--blur);
  border: solid var(--primary-color);
  width: 400px;
  margin: 40px;
  text-decoration: none;
  color: white;
  border-radius: var(--border-radius);
}

.country:hover {
  backdrop-filter: none;
  color:var(--primary-color);
}

.country:focus {
  outline: none;
  backdrop-filter: none;
  color:var(--primary-color);
}

.flag{
  position: relative;
  top: 1rem;
  object-fit:contain;
  max-width: 300px;
  max-height: 150px;
}

.flag:hover{
  outline: solid var(--primary-color);
}

.nameCont{
  margin-top: 1rem;
  position: relative;
  bottom: 1px;
}