.home{
  justify-content: center;
}

.countries{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notFound{
  color: var(--primary-color);
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}
