.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;

}


.link{
  width: 150px;
  height: 100px;
  background-image: url('../assets/icon.png');
  outline:none;
  transition: background-image 0.5s;
}



.link:hover{
  background-image: url('../assets/iconTransition.png');
}
