.paged{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.item {
  backdrop-filter: blur(10px);
  margin: 9px;
}

.num {
  text-decoration: none;
  color: white;
  font-size: 1.5rem
}
